
<div class="tabs">
   <div class="tabber">
   
    <div style="float:left; width:100%; height:auto">
		
     <table width="100%" class="table table-striped">
     
      <tr>
        <th>City</th>
        <td><%= @json["data"]["request"][0]["query"] %></td>
      </tr>
      <% @json["data"]["time_zone"].each do |a| %>
      <tr>
        <th>Local Time</th>
        <td><%= a["localtime"]%></td>
      </tr>
      <tr>
        <th>UtcOffset</th>
        <td><%= a["utcOffset"]%></td>
      </tr>
      <% end %>
       </table>
		
		</div>
  </div>
</div>